@media screen and (min-width: 0px) {
    html {
        font-size: 50%;
    }
}

@media screen and (min-width: 250px) {
    html {
        font-size: 70%;
    }

    .accorItem {
        padding: 5% 0 2% 0;
    }
}

@media screen and (min-width: 1700px) {
    html {
        font-size: 150%;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 115%;
    }

    .accorItem {
        padding: 2.3% 0 1.5% 0;
    }
}

@media screen and (min-width: 1180px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 820px) {
    html {
        font-size: 90%;
    }

    .accorItem {
        padding: 3% 0 2% 0;
    }
}

@media screen and (min-width: 380px) {
    html {
        font-size: 80%;
    }
}

@media screen and (min-width: 320px) {
    html {
        font-size: 75%;
    }
}